:root {
  --font1: "montserrat";
  --font2: "lato";
  --colorWhite: #fff;
  --colorRed: #bc1f24;
  --colorBlack: #030303;
  --colorGrey: #667085;
  --colorYellow: #fdd100;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
}

body {
  height: 10000vh;
}

/* navbar */
nav {
  height: 8vh;
  top: 0;
  z-index: 1111;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 40px 0px;
}

.container-fluid {
  height: 63px;
  display: flex;
  gap: 11px;
  border-radius: 0px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-nav .dropdown-menu {
  font-size: 12px;
  border: none;
}

.navbar-nav li {
  color: var(--colorBlack);
  padding: 0 5px 0;
}

/* akhir navbar */

/* carousel */
.content {
  position: absolute;
  left: 80px;
  top: 40%;
  width: 50%;
  font-weight: bold;
}

.content h2 {
  font-size: 25px;
  color: var(--colorWhite);
  line-height: auto;
}

.content button {
  display: flex;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: var(--colorYellow);
  justify-content: center;
  align-items: center;
  border: none;
}

button.wa {
  font-size: 15px;
  text-transform: uppercase;
}

button span {
  color: var(--colorRed);
}

.content button img {
  width: 20px;
  height: 20px;
}

.carousel img {
  width: 100%;
  height: 82vh;
}
/*========== akhir carousel ==========*/

/* medsos */
.floating-icon {
  position: fixed;
  bottom: 65px;
  right: 40px;
  z-index: 999;
}
/* akhir medsos */

/*========== label ==========*/
.label {
  height: 10vh;
  display: flex;
  background-color: var(--colorRed);
}

.label-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--colorWhite);
}
/*========== akhir label ==========*/

/*========== section about ==========*/
.about .text-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 900px;
  position: relative;
}

.about .text1 h2,
.about .text2 h2 {
  font-size: 30px;
  color: var(--colorRed);
  font-weight: bold;
  margin-top: 20px;
}

.about .text2 h2 {
  color: var(--colorBlack);
  text-align: end;
}

.about .text1 p,
.about .text2 p {
  line-height: 30px;
  font-family: var(--font2);
  font-size: 20px;
  color: var(--colorGrey);
}

.about .text2 p {
  /* color: var(--colorBlack); */
  text-align: end;
}

.about .text1,
.about .text2 {
  position: relative;
  padding-left: 15px;
  margin-bottom: 30px;
}

.text1::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 4px;
  height: 70%;
  background-color: var(--colorYellow);
}

.text2::before {
  content: "";
  position: absolute;
  top: 45px;
  right: -15px;
  width: 4px;
  height: 70%;
  background-color: var(--colorYellow);
}

.text2::after {
  content: "";
  position: absolute;
  bottom: -18%;
  left: 65%;
  width: 450px;
  height: 4px;
  background-color: var(--colorYellow);
}

.about .img-right {
  position: relative;
  left: 63px;
}
/*========== akhir section about ==========*/

/*========== section keunggulan ==========*/
.keunggulan {
  margin: 50px 0;
}

.keunggulan .row {
  margin: 30px;
  width: 1100px;
}

.keunggulan .row .judul {
  text-transform: uppercase;
  text-align: center;
}

.keunggulan .judul span {
  color: var(--colorRed);
}

/* item-card */
.keunggulan .col-2 {
  display: flex;
  align-items: end;
  width: 215px;
}

.keunggulan .card {
  padding: 10px 0;
  display: flex;
  align-items: center;
  height: 200px !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin-bottom: 50px;
}

/* image dalam card */
.box .img {
  width: 215px;
  height: 215px;
  background-size: 73px;
  background-repeat: no-repeat;
  background-position: center 5px;
  display: flex;
  align-items: end;
}

.box .col-2:nth-child(1) .img {
  background-image: url(img/mutu.png);
}
.box .col-2:nth-child(2) .img {
  background-image: url(img/murah.png);
}
.box .col-2:nth-child(3) .img {
  background-image: url(img/non-stop.png);
}
.box .col-2:nth-child(4) .img {
  background-image: url(img/terlengkap.png);
}
.box .col-2:nth-child(5) .img {
  background-image: url(img/layanan-cs.png);
  margin-bottom: 18px;
}

/* akhir image dalam card */

/* animasi hover */
.box .img:hover {
  color: var(--colorRed);
  animation-duration: 3s;
}

.box .col-2:nth-child(1):hover .img {
  background-image: url(img/mutu_hover.png);
}
.box .col-2:nth-child(2):hover .img {
  background-image: url(img/murah_hover.png);
}
.box .col-2:nth-child(3):hover .img {
  background-image: url(img/non-stop_hover.png);
}
.box .col-2:nth-child(4):hover .img {
  background-image: url(img/terlengkap_hover.png);
}
.box .col-2:nth-child(5):hover .img {
  background-image: url(img/layanan-cs_hover.png);
}

.box .img:hover .text {
  color: var(--colorBlack);
}
/* akhir animasi hover */

/* text-card */
.keunggulan .card .title,
.keunggulan .card .text {
  margin: 10px 12px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  text-transform: uppercase;
}

.keunggulan .card .text {
  font-family: "lato";
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 10px;
  color: var(--colorGrey);
}
/*========== akhir section keunggulan ==========*/

/*========== section produk unggulan ==========*/
#product {
  margin: 50px 40px;
  position: relative;
  overflow: hidden;
}

#product h2 {
  text-transform: uppercase;
  text-align: end;
  margin-right: -80px;
  font-weight: bold;
}

#product .sub-title {
  color: var(--colorRed);
  font-family: var(--font2);
}

/* Product Card */
#product .product_card {
  position: relative;
  backdrop-filter: blur(10px);
  margin-top: 30px;
  width: 500px;
  height: 300px;
  display: inline-flex;
}

#product .pc-left::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -20px;
  width: 4px;
  height: 60%;
  background-color: var(--colorYellow);
}

.pc-right::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -20px;
  width: 4px;
  height: 60%;
  background-color: var(--colorYellow);
}

#product .card_img {
  width: 630px;
  height: 320px;
  display: block;
  object-fit: cover;
}

#product .item-img-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  color: #35424c;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: translateY(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#product .overlay-info {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product .product_card h6 {
  font-family: var(--font2);
  font-weight: bold;
  position: relative;
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(-15px);
}

#product .product_card .overlay_img {
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  height: 50px;
  width: 50px;
  transition: all 0.5s;
  filter: grayscale(1);
  margin-left: auto;
}

#product .product_card:hover h6 {
  transform: translateY(0);
}
#product .product_card .overlay_img:hover {
  filter: grayscale(0);
}
#product .product_card:hover .item-img-overlay {
  opacity: 1;
  transform: translateY(0);
}

/*========== akhir section produk unggulan ==========*/
